/*Adds Pieces of Eight font style*/
@font-face { font-family: Pirates; src: url('Pieces of Eight Font/Pieces of Eight.ttf'); } 

body{
	
margin:0px;
padding:0px;

	background: 
	linear-gradient(
		rgba(194,181,155,0.65),
		rgba(194,181,155,0.65)),
	url(styles/Texture_Bkgd_1.jpg);
	
}

.Header {height:100px;}
.Menu {height:50px;}
.compRose img{
	display: block;
	max-width: 23em;
	max-height: 23em;
	width: auto;
	height: auto;
	position: absolute;
	top: 0em;
	right: 0em;
}

.bankButton img{
	display: block;
	max-height: 3em;
	max-width: 3em;
	width: auto;
	height: auto;
	position: absolute;
	top: 7em;
	right: 21.5em;
}

.logoutButton img{
	display: block;
	max-height: 3em;
	max-width: 3em;
	width: auto;
	height: auto;
	position: absolute;
	top: 5.1em;
	right: 6.5em;
}

.tilda1 img{
	display: block;
	max-height: 0.8em;
	max-width: 0.8em;
	width: auto;
	height: auto;
	position: absolute;
	top: 10.75em;
	right: 21.25em;
}

.volunteerButton img{
	display: block;
	max-height: 5.55em;
	max-width: 5.55em;
	width: auto;
	height: auto;
	position: absolute;
	top: 12.15em;
	right: 17.0em;
}

.tilda2 img{
	display: block;
	max-height: 0.6em;
	max-width: 0.6em;
	width: auto;
	height: auto;
	position: absolute;
	top: 18.1em;
	right: 15.6em;
}

.landgrantButton img{
	display: block;
	max-height: 6.35em;
	max-width: 6.35em;
	width: auto;
	height: auto;
	position: absolute;
	top: 18.73em;
	right: 8.45em;
}

#WelcomeMessage {
	display: inline-block;
	margin-top: 10em;
}

#LoginWindow {
	font-size: 1.1em;
	display: inline-block;
	text-align: center;
	margin-top: 0em;
}

#LoginWindow2 {
	font-size: 1.1em;
	display: inline-block;
	text-align: center;
	margin-top: 0em;
}

#LoginE {
	font-family: pirates;
	font-size: 1em;
	color: red;
	text-align: center;
	margin-top: 0em;
}

#RegisterWindow {
	font-size: 1.2em;
	display: inline-block;
	text-align: center;
	margin-top: 7.5em;
}

#NavigationBar {
	background-color: rgb(38,23,15);
}

.icons {
	color: white;
}

.nav-item {
	text-align: center;
	margin-left: -5em;
}

.TopStripe img {
	display: block;
	max-width: 70em;
	height: auto;
	position: absolute;
	top: 2em;
	left: 2em;
	opacity: 0.7;
	overflow: hidden;
}

.SideStripe img {
	display: block;
	max-height: 70em;
	max-width: 35em;
	width: auto;
	height: auto;
	position: absolute;
	top: 2em;
	left: 2em;
	opacity: 0.7;
	overflow: hidden;
}

#SwitchButtons {
	margin-top: 6em;
	align-content: center;
	margin-left: -15em;
}

#SwitchButtonsMenu {
	background-color: rgb(38,23,15);
	width: 17em;
	margin-top: -5.5em;
	border-radius: 0.4em;
}

.PersonalButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0.4em 0em 0em 0.4em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
}

.PersonalButton:hover {
	color: grey;
	text-decoration: none;
}

.PersonalButton2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: white;
}

.PersonalButton2:hover {
	color: grey;
	text-decoration: none;
}

.PersonalPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0.4em 0em 0em 0.4em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
}

.PersonalPressed:hover {
	color: grey;
	text-decoration: none;
}

.PersonalPressed2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: red;
}

.PersonalPressed2:hover {
	color: grey;
	text-decoration: none;
}

.TellerButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
}

.TellerButton:hover {
	color: grey;
	text-decoration: none;
}

.TellerButton2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: white;
}

.TellerButton2:hover {
	color: grey;
	text-decoration: none;
}

.TellerPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
}

.TellerPressed:hover {
	color: grey;
	text-decoration: none;
}

.TellerPressed2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: red;
}

.TellerPressed2:hover {
	color: grey;
	text-decoration: none;
}

.CordButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
}

.CordButton:hover {
	color: grey;
	text-decoration: none;
}

.CordButton2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: white;
}

.CordButton2:hover {
	color: grey;
	text-decoration: none;
}

.CordPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
}

.CordPressed:hover {
	color: grey;
	text-decoration: none;
}

.CordPressed2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: red;
}

.CordPressed2:hover {
	color: grey;
	text-decoration: none;
}

.LandButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
}

.LandButton:hover {
	color: grey;
	text-decoration: none;
}

.LandButton2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: white;
	text-align: center;
}

.LandButton2:hover {
	color: grey;
	text-decoration: none;
}

.LandPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
}

.LandPressed:hover {
	color: grey;
	text-decoration: none;
}

.LandPressed2 {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	color: red;
}

.LandPressed2:hover {
	color: grey;
	text-decoration: none;
}

.TellerAccounts #ShowAccounts {
	margin-top: 1em;
	margin-left: -1em;
}

#ShowAccounts {
	font-family: pirates;
	font-size: 1.6em;
	margin-top: 6em;
	margin-left: 0.5em;

}

@media (max-width: 992px) {
	#ShowAccounts {
		margin-top: 2em;
	}
}

@media (min-width: 992px) {
	#ShowAccounts {
		margin-left: 3em;
		margin-top: 8em;
	}
}

li {
	display: block;
}

.TellerAccounts #HistBox {
	margin-left: 1.5em;
	margin-top: 1em;
}

#HistBox {
	border: .1em solid;
	overflow: auto;
	font-family: Pirates;
	font-size: 1em;
	width: 90%;
	max-width: 76em;
	text-align: left;
	margin-bottom: 2em;
}

@media (max-width: 992px) {
	#HistBox {
		margin-top: 2em;
		max-height: 20em;
	}
}

@media (min-width: 992px) {
	#HistBox {
		margin-top: 3em;
		max-height: 30em;
	}
}

@media (max-width: 992px) {
	.TellerAccounts #HistBox {
		margin-left: 1em;
	}
}

#SearchBy {
	font-family: pirates;
	font-size: 1em;
}

@media (max-width: 992px) {
	#SearchBy {
		margin-top: 1em;
	}
	#SearchBox {
		width: 100%;
	}
}

@media (min-width: 992px) {
	#SearchBy {
		margin-top: 7em;
	}
	#SearchBox {
		width: 65%;
	}
}

#NoneFound {
	font-family: pirates;
	font-size: 1.1em;
	color: red;
	text-align: center;
	margin-top: -1.5em;
}

@media (max-width: 700px) {
	#NoneFound {
		margin-top: 0em;
	}
}

.NoneFound {
	font-family: pirates;
	font-size: 1.1em;
	color: red;
	text-align: left
	margin-top: -1em;
	margin-left: 5em;
}

@media (max-width: 992px) {
	.NoneFound {
		margin-left: 0.5em;
	}
}

.SSearch {
	font-family: pirates;
	font-size: 1.1em;
	text-align: center;
	margin-top: 0.5em;

}

@media (min-width: 992px) {
	.SSearch {
		text-align: left;
		margin-top: 0.5em;
		margin-left: 1em;
	}
}

#TellerFunction {
	font-family: pirates;
	font-size: 1em;
	margin-top: 5em;
	text-align: start;
	margin-left: 1em;
}

@media (max-width: 992px) {
	#TellerFunction {
		margin-left: 0.1em;
		margin-top: 1em;
	}
}

.TellerActions {
	font-size: 1.4em;
	text-align: left;
	margin-bottom: 0.4em;
	border: solid 0.05em;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 95%;
}

@media (max-width: 992px) {
	.TellerActions {
		width: 95%;
		margin-left: 0em;
	}
}

#SFEdits {
	font-family: pirates;
	font-size: 1em;
	margin-top: 1em;
	margin-left: 1em;
}

#UserTransfer {
	font-size: 1em;
	font-family: pirates;
	margin-top: 2em;
	margin-left: 6em;
}

@media (max-width: 992px) {
	#UserTransfer {
		margin-top: 1em;
		margin-left: 0.5em;
	}
}

#PSSearch {
	font-family: pirates;
	font-size: 1em;
}

