/*Adds Pieces of Eight font style*/
@font-face { font-family: Pirates; src: url('Pieces of Eight Font/Pieces of Eight.ttf'); } 


body{
	
margin:0px;
padding:0px;

	background: 
	linear-gradient(
		rgba(194,181,155,0.65),
		rgba(194,181,155,0.65)),
	url(styles/Texture_Bkgd_1.jpg);
	
}

/*Leave everything above this alone*/

.Header {height:100px;}
.Menu {height:50px;}
.compRose img{
	display: block;
	max-width: 23em;
	max-height: 23em;
	width: auto;
	height: auto;
	position: absolute;
	top: 0em;
	right: 0em;
}

.bankButton img{
	display: block;
	max-height: 3em;
	max-width: 3em;
	width: auto;
	height: auto;
	position: absolute;
	top: 7em;
	right: 21.5em;
}

.logoutButton img{
	display: block;
	max-height: 3em;
	max-width: 3em;
	width: auto;
	height: auto;
	position: absolute;
	top: 5.1em;
	right: 6.5em;
}

.tilda1 img{
	display: block;
	max-height: 0.8em;
	max-width: 0.8em;
	width: auto;
	height: auto;
	position: absolute;
	top: 10.75em;
	right: 21.25em;
}

.volunteerButton img{
	display: block;
	max-height: 5.55em;
	max-width: 5.55em;
	width: auto;
	height: auto;
	position: absolute;
	top: 12.15em;
	right: 17.0em;
}

.tilda2 img{
	display: block;
	max-height: 0.6em;
	max-width: 0.6em;
	width: auto;
	height: auto;
	position: absolute;
	top: 18.1em;
	right: 15.6em;
}

.landgrantButton img{
	display: block;
	max-height: 6.35em;
	max-width: 6.35em;
	width: auto;
	height: auto;
	position: absolute;
	top: 18.73em;
	right: 8.45em;
}

.PersonalButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0.4em 0em 0em 0.4em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 14.5em;
}

.PersonalPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0.4em 0em 0em 0.4em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 14.5em;
}

.TellerButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 23.53em;
}

.TellerPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 23.53em;
}

.CordButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 23.53em;
}

.CordPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 23.53em;
}

.LandButton {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: white;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 23.53em;
}

.LandPressed {
	display: flex;
	font-family: Pirates;
	font-size: 1.5em;
	text-decoration: none;
	border: 0.01em;
	border-color: transparent;
	align-content: center;
	justify-content: center;
	line-height: 1.4em;
	border-radius: 0em 0.4em 0.4em 0em;
	background: #000000;
	color: red;
	width: 9em;
	height: 1.5em;
	position: absolute;
	top: 4.5em;
	left: 23.53em;
}

li {
	display: inline;
	padding-left: 5em;
}

.AccDiss {
	position: relative;
	font-family: Pirates;
	font-size: 1.55em;
	top: 8em;
	left: 2em;
}

.HistBox {
	position: relative;
	width: 60em;
	height: 20em;
	max-height: 20em;
	border: .1em solid;
	top:20em;
	left: 11em;
	overflow: auto;
	font-family: Pirates;
}

.HistBox li{
	position: relative;
	left:-1em;
}

#search {
	position: relative;
	top: 11em;
	left: 10em;
	width: 50em;
	font-family: pirates;
	font-size: 13pt;
}

#telltransferForm {
	position: relative;
	top: 21em;
	left: 12em;
	width: 20em;
}

#transferForm {
	position: relative;
	top: 21em;
	left: 11em;
	width: 20em;
}

#tellDepositForm {
	position: relative;
	top: 5.5em;
	left: 35em;
	width: 20em;
}

#tellWithdrawForm {
	position: relative;
	top: -5.5em;
	left: 55em;
	width: 20em;
}

.submit {
	font-size: 0.9em;
	font-family: pirates;
}

.submit2 {
	font-size: 0.9em;
	font-family: pirates;
	position: relative;
	left: 31em;
	top: -0.40em;
}

.submit3 {
	font-size: 0.9em;
	font-family: pirates;
	position: relative;
	left: 39.8em;
	top: -3em;
}

.SearchBy {
	font-size: 0.85em;
	font-family: pirates;
	align-content: center;
}

#SearchBy2 {
	font-size: 1.1em;
	font-family: pirates;
	align-content: center;
	position:relative;
	left: 9.8em;
	top: 5em;
}

.NoneFound {
	font-family: pirates;
	font-size: 1.1em;
	color: red;
	position:relative;
	left:16em;
	top:5.3em;
}

/* New Master CSS starts here*/

#LoginWindow {
	font-size: 1.1em;
	display: inline-block;
	text-align: center;
	margin-top: 10em;
}

#LoginE {
	font-family: pirates;
	font-size: 1em;
	color: red;
	text-align: center;
}

#RegisterWindow {
	font-size: 1.1em;
	display: inline-block;
	text-align: center;
	margin-top: 7.5em;
}

#NavigationBar {
	background-color: rgb(38,23,15);
}

.icons {
	color: white;
}

.nav-item {
	text-align: center;
	margin-left: -5em;
}

.TopStripe img {
	display: block;
	max-width: 70em;
	height: auto;
	position: absolute;
	top: 2em;
	left: 2em;
	opacity: 0.7;
}

.SideStripe img {
	display: block;
	max-height: 70em;
	max-width: 35em;
	width: auto;
	height: auto;
	position: absolute;
	top: 2em;
	left: 2em;
	opacity: 0.7;
}
