
body{
	
margin:0px;
padding:0px;
background-color: rgba(225,201,172,1.00);
	
}

.Container {
	width:800px; 
	height:auto; 
	clear:both;
	overflow: auto;
	margin:60px auto;
}
.Header {height:100px;}
.Menu {height:50px;}
